meta {
  -theme-display-name: 'GitHub Light';
  -theme-interface-style: light;
  -theme-accent-color: auto;
}

/*
 * Titlebar & sidebar styles
 */
meta.window {
  background: #f6f8fa;
  border: #d0d7deb2;
}
meta.titlebar {
  background: linear-gradient(#f6f8fa, #eaeef2);
  color: #24292f; /* No alpha support */
  border: #d0d7de; /* No alpha support */
}
meta.titlebar.inactive {
  background-color: #f6f8fa;
  color: #57606a; /* No effect */
}

meta.button {
  background: #eaeef2;
  border: #d0d7de;
  color: #24292f;
}
meta.button.highlighted {
  background: #d0d7de;
  border: #afb8c1;
  color: #24292f;
}
meta.button.disabled {
  background: #f6f8fa;
  border: #d0d7de;
  color: #8c959f;
}

meta.button.selected,
meta.button.selected.highlighted {
  color: white;
}

meta.textfield,
meta.textfield.highlighted {
  background: #ffffff;
  border: #d0d7de;
}

/*
 * Document styles
 */
meta.document {
  background: #ffffff;
  border: #d7dde3;
}

meta.document.button {
  background: #eaeef2;
  border: #d0d7de;
  color: #24292f;
}
meta.document.button.highlighted {
  background: #d0d7de;
  border: #afb8c1;
  color: #24292f;
}
meta.document.button.disabled {
  background: #f6f8fa;
  border: #d0d7de;
  color: #8c959f;
}

meta.document.textfield,
meta.document.textfield.highlighted {
  background: #f6f8fa;
  border: #d7dde3;
}

/* Text */
meta.text {
  color: #24292f;
}
meta.text.invisible {
  color: #6e7781;
}
meta.text.selected {
  background: #edf4fc; /* No alpha support */
}
meta.declaration {
  color: #24292f;
}

/* Cursor */
meta.cursor {
  background-color: #fafbfc;
}

/* Indentation Guides */
meta.indentguide {
  border-color: #d0d7de;
}

/* Gutter */
meta.gutter {
  color: #8c959f;
}
meta.gutter.selected {
  color: #24292f;
}

/*
 * Syntax styles
 */
comment {
  color: #6e7781;
}
processing {
  color: #cf222e;
}
bracket,
value.variable.bracket {
  color: #24292f;
}
operator {
  color: #cf222e;
}
invalid {
  /* ? */
  background-color: hsl(0, 90%, 60%);
  color: hsl(60, 33%, 96%);
}
method {
  color: #8250df;
}

/* Keywords */
keyword {
  color: #cf222e;
}
keyword.self {
  color: #0969da;
}

/* Values */
value {
  color: #0969da;
}

/* Identifiers */
identifier {
  color: #24292f;
}
identifier.core.global,
identifier.type,
identifier.type.core,
identifier.constant,
identifier.global,
identifier.variable {
  color: #0969da;
}
identifier.property.name {
  color: #24292f;
}
identifier.function,
identifier.method,
identifier.method.name {
  color: #8250df;
}
identifier.key {
  color: #24292f;
}
identifier.argument {
  color: #e16f24;
}

/* Strings */
string,
string-template,
cdata {
  color: #0a3069;
}
string.escape {
  color: #0969da;
}
regex {
  color: #0a3069;
}
regex.escape {
  color: #cf222e;
}
regex.character-class {
  color: #0969da;
}

/* Markup */
markup.heading {
  font-weight: bold;
  color: #0969da;
}
markup.bold {
  font-weight: bold;
}
markup.italic {
  font-style: italic;
}
markup.list.item {
  color: #e16f24;
}
markup.processing {
  color: #24292f;
}
markup.link {
  color: #0a3069;
}

/* Types */
definition {
  color: #cf222e;
}

/* Tags */
tag,
tag.framework {
  color: #24292f;
}
tag.name,
tag.framework.name {
  color: #1a7f37;
}
tag.attribute.name,
tag.framework.attribute.name {
  color: #0969da;
}
tag.attribute.value,
tag.attribute.value.delimiter,
tag.attribute.value.link {
  color: #0a3069;
}
tag.attribute.operator {
  color: #cf222e;
}

/* Style sheets */
style.at,
style.value.number.unit {
  color: #cf222e;
}
style.selector.element {
  color: #1a7f37;
}
style.selector.identifier.id,
style.attribute.name,
style.value.number,
style.value.identifier.function,
style.value.color.named,
style.selector.identifier.class,
style.value.color.hex,
style.value.keyword,
style.selector.pseudoclass,
style.selector.pseudoelement,
style.media-feature.keyword {
  color: #0969da;
}
style.attribute,
style.attribute.separator,
style.value.function.bracket,
style.attribute-list.bracket,
at-rule.definition.bracket {
  color: #24292f;
}
style.value.property.identifier {
  color: #e16f24;
}

/*
 * Language specific
 */

/* Typescript */
typescript.comma,
typescript.dot {
  color: #24292f;
}
typescript.identifier.type.class.name,
typescript.identifier.type.name {
  color: #e16f24;
}

/* Markdown */
markdown.image.bracket {
  color: #0a3069;
}
markdown.image.string {
  color: #24292f;
}

/* YAML */
yaml.identifier.key {
  color: #1a7f37;
}

/* XML */
xml.meta.processing {
  color: #24292f;
}

/* Ruby */
ruby.identifier.core.method {
  color: #cf222e;
}

/*
 * Terminal 
 */

terminal.bright-black {
  color: #57606a;
}
terminal.bright-red {
  color: #a40e26;
}
terminal.bright-green {
  color: #1a7f37;
}
terminal.bright-yellow {
  color: #633c01;
}
terminal.bright-blue {
  color: #218bff;
}
terminal.bright-magenta {
  color: #a475f9;
}
terminal.bright-cyan {
  color: #3192aa;
}
terminal.bright-white {
  color: #8c959f;
}

terminal.black {
  color: #24292f;
}
terminal.red {
  color: #cf222e;
}
terminal.green {
  color: #116329;
}
terminal.yellow {
  color: #4d2d00;
}
terminal.blue {
  color: #0969da;
}
terminal.magenta {
  color: #8250df;
}
terminal.cyan {
  color: #1b7c83;
}
terminal.white {
  color: #6e7781;
}
